attrs==20.2.0
backports.shutil-which==3.5.2
future==0.18.2
gdx==3
gdxcc==7.28.20
gdxpds==1.2.0
importlib-metadata==2.0.0
iniconfig==1.0.1
numpy==1.19.2
packaging==20.4
pandas==1.1.2
pi==0.1.2
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.0
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
toml==0.10.1
xarray==0.16.1
xlwt==1.3.0
zipp==3.2.0
